body {
    background-color: #5592BBFF;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #1C6EA4;
}

h2{
    color: #1C6EA4;
}

.form-group input, select{
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #1C6EA4;
    border-radius: 4px;
    font-size: 14px;
}

.form-group button, .form-group a{
    background-color: #1C6EA4;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.form-group button:hover {
    background-color: #004b87;
}

.form-group a:hover {
    background-color: #004b87;
}